*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



nav{
    color: #fff;
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

nav .logo{
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
}

ul{
    list-style: none;
    display: flex;
    text-decoration: none;
    align-items: center;
}

a{
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 0 10px;
    color: #fff;
}



.banner-area{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -10000;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('./banner-photo.jpg')center/cover fixed no-repeat;
    background-position-y: center;
}


.banner-area h1{
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    font-weight: 100;
    margin-bottom: 20px;
    letter-spacing: 7px;
    
}


.banner-area h4{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 105px;
}


/* about section */


.about{
    padding: 75px 40px;
    background-color: rgb(27, 221, 221);
    
}


.about h1{
    text-align: center;
    color: #fff;
    font-size: 30px;
}


.about-info{
    display: flex;
    margin-top: 75px;

}

.about-info__photo{
   flex-basis: 60%;

}

.about-info__photo img{
    display: block;
    width: 100%;
    height: 375px;
}


.about-info__infos{
    flex-basis: 78%;
}

.about-info__infos p{
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 25px;
    font-size: 15px;
    margin-bottom: 30px;
    max-width: 80%;
}

.btn-info{
     background-color: #fff;
     color: rgb(27,221,221);
     border: none;
     outline: none;
     display: inline-block;
     padding: 0.75rem 1.75rem;
     text-align: center;
     font-size: 16px;
}

.services{
    padding: 75px 40px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('./services.jpg')center/cover fixed no-repeat
    ;
    color: #fff;
}


.services h1{
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 500;

}


.services-container{
    margin-top: 80px;
    display: flex;
    /* justify-content: space-between; */
}

.single-service{
    flex-basis: 22%;
    margin: 0 80px;
    text-align: center;
}


.single-service h2{
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;

}

.single-service p{
    font-weight: 300;
    line-height: 30px;

}






/* portfolio*/



.portfolio{
    
    padding: 75px 290px;
    background-color: #fff;
    color: black;
}

.portfolio h1{
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
}


.portfolio-gallery{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.wrapper-photo{
     flex-basis: 30%;
     margin: 20px 15px;
}

.wrapper-photo img{
    display: block;
    width: 100%;
    height: 300px;
}



/* contact */

.contact{
    padding: 75px 75px;
    background-color: rgb(28, 184, 184);
    color: #fff;
}

.contact h1{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    

}

.contact-row{
    margin-top: 80px;
    display: flex;
}

.single-contact{
    flex-basis: 10%;
    margin-left: 17.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 15px;
    /* display: flex; */
    /* justify-content: center; */
}

.single-contact p{
    margin-top: 10px;
}


footer{
    padding: 50px;
    background-color: black;
    color: #fff;
}

footer h2{
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    text-transform: capitalize;

}




